[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
pillow = "==8.2.0"
spidev = "==3.5"
flask-cors = "==3.0.10"
rpi = {gpio = "==0.7.0"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
